*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    }
body {
    width:100%;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background: #f0f0f3;
    }
.cont {
    width:300px;
    height:100px;
    border-radius:5px;
    position:relative;
    display:flex;
    align-items:center;
    justify-content:space-around;
    box-shadow:10px 10px 30px rgba(0,0,0,0.2),
               -10px -10px 30px rgba(0,0,0,0.2);
    }
.box {
    width:70%;
    height:60%;
    border-radius:50px;
    
box-shadow:18px 18px 30px #d1d9e6,
               -18px -18px 30px #fff,
          inset 18px 18px 30px #d1d9e6,
          inset -18px -18px 30px #fff;
    position:absolute;
    top:50%;
    left:40%;
    transform:translate(-50%,-50%);
    display:flex;
    align-items:center;
    justify-content:space-between;
    border:5px solid #ececec;
    }

input[type="checkbox"] {
    width:100%;
    height:100%;
    -webkit-appearance:none;
    outline:none;
    border:none;
    background:transparent;
    }
    
.ball {
    position:absolute;
    width:50px;
    height:50px;
    border-radius:50%;
    transform:translateX(0px);
    box-shadow:18px 18px 30px #d1d9e6,
               -18px -18px 30px #fff;
    transition:transform 0.2s linear;
    }
    
input[type="checkbox"]:checked + .ball{
    transform:translate(150px);
    }        

.lgt {
    width:12px;
    height:12px;
    background:#ff0045;
    border-radius:50%;
    border:2px solid #fff;
    position:absolute;
    top:50%;
    right:6%;
    transform:translate(-50%,-50%);
    box-shadow:18px 18px 30px #d1d9e6,
               -18px -18px 30px #fff,
          inset 18px 18px 30px #d1d9e6,
          inset -18px -18px 30px #fff;
    display:flex;
    align-items:center;
    justify-content:center;
    }

.lgt:before {
    position:absolute;
    content:"";
    width:10px;
    height:10px;
    background:#ff0045;
    border-radius:50%;
    }

.dark .lgt:before{
    background:#00ff3d;
    }